{% extends "layout.html" %}

{% block body %}
    <section>
        <form action="{{ url_for('edit_item') }}" method="post">
            <input type="hidden"  name="_csrf_token" value="{{ _csrf_token }}" /> 
            <input type="hidden" name="item_id" value="{{ item.id }}" />

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor%}
                                </ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="text-center">UPDATE ITEM</h3>
                            <div class="form-group">
                                <label for="item_name">Item Name</label>
                                <input type="text" class="form-control" name="item_name" id="item_name" value="{{ item.name }}" required />
                            </div>
                            <div class="form-group">
                                <label for="item_description">Item Description</label>
                                <textarea  class="form-control" name="item_description" id="item_description"   required> {{ item.description }} </textarea>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select class="form-control" name="category" id="category">
                                    {% for category in categories %}
                                        {% if category.id == item.category_id %}
                                            <option value={{category.id}} selected>{{ category.name }}</option>
                                        {% else %}
                                            <option value={{category.id}} >{{ category.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </section>
{% endblock %}

